.body-background {
	background-image: url('./images/bgmain.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

@keyframes shakePlayer {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(10deg); }
	50% { transform: rotate(-10deg); }
	75% { transform: rotate(10deg); }
	100% { transform: rotate(0deg); }
}
@keyframes shakeComputer {
	0% { transform: scaleX(-1) rotate(0deg); }
	25% { transform: scaleX(-1) rotate(-10deg); }
	50% { transform: scaleX(-1) rotate(10deg); }
	75% { transform: scaleX(-1) rotate(-10deg); }
	100% { transform: scaleX(-1) rotate(0deg); }
}